In [1]:
import numpy as np
import json
import sqlite3
import pandas as pd
import datetime
import random
            
def current_date():
    # Return the current date as a string
    return datetime.datetime.now().strftime("%Y-%m-%d")

def return_category_index(string, data):
    for item in data:
        if string == item[1]:
            return item[0]
        else:
            return 12
            
type_sql = '''
    CREATE TABLE IF NOT EXISTS type_table (
        type_id INTEGER NOT NULL UNIQUE, 
        name TEXT,
        PRIMARY KEY(type_id)
    )
    '''
freq_sql = '''
    CREATE TABLE IF NOT EXISTS frequency_table (
            freq_id INTEGER NOT NULL UNIQUE,
            name TEXT,
            PRIMARY KEY(name)
        )
'''

category_sql = '''
    CREATE TABLE IF NOT EXISTS category_table (
        category_id INTEGER NOT NULL UNIQUE,
        name TEXT,
        type INTEGER NOT NULL,
        PRIMARY KEY(category_id AUTOINCREMENT),
        FOREIGN KEY(type) REFERENCES type_table(type_id)
    )
    '''
income_sql = '''
    CREATE TABLE IF NOT EXISTS income (
        income_id INTEGER NOT NULL UNIQUE,
        date DATE,
        name TEXT,
        amount INTEGER NOT NULL,
        frequency INTEGER NOT NULL,
        category INTEGER NOT NULL,
        PRIMARY KEY(income_id),
        FOREIGN KEY(frequency) REFERENCES frequency_table(freq_id),
        FOREIGN KEY(category) REFERENCES category_table(category_id)
    )
    '''

expenses_sql = '''
    CREATE TABLE IF NOT EXISTS expenses (
        expenses_id INTEGER NOT NULL UNIQUE,
        date DATE,
        name TEXT,
        amount INTEGER NOT NULL,
        frequency INTEGER NOT NULL,
        category INTEGER NOT NULL,
        PRIMARY KEY(expenses_id),
        FOREIGN KEY(frequency) REFERENCES frequency_table(freq_id),
        FOREIGN KEY(category) REFERENCES category_table(category_id)
    )
    '''

commands = [type_sql, freq_sql, category_sql, income_sql, expenses_sql]
new_db = "/Users/troboukis/Code/EAP/PLHPRO/final-project/FINANCE-DATABASE/new_db.db"

class DatabaseConnection:
    def __init__(self, db_path):
        self.db_path = db_path
        self.conn = None
        self.date = current_date()

    def __enter__(self):
        if self.conn is None:
            self.conn = sqlite3.connect(self.db_path)
            self.cursor = self.conn.cursor()
            self.cursor.execute('PRAGMA foreign_keys = ON;')
            print("Συνδεθήκατε στη βάση δεδομένων.")
            return self

    def __exit__(self, exc_type, exc_val, exc_tb):
        if self.conn:
            self.conn.commit()
            self.conn.close()
            self.conn=None

    def create_table(self, sql_command):
        self.cursor.execute('PRAGMA foreign_keys = ON;')
        self.cursor.execute(sql_command)
        self.conn.commit()

    def retrieveID(self, table_name, column_name, category_name):
        """
        Ανακτά το id μίας εγγραφής.
        
        :param table_name: Το όνομα του πίνακα προς αναζήτηση.
        :param column_name: Το όνομα της στήλης ID που θα ανακτηθεί.
        :param category_name: Το όνομα της κατηγορίας για αναζήτηση.
        """
        # Validate or sanitize table_name and column_name if necessary
        allowed_tables = {"category_table": ["category_id"]}
        if table_name in allowed_tables and column_name in allowed_tables[table_name]:
            query = f"SELECT {column_name} FROM {table_name} WHERE name = ?"
            self.cursor.execute(query, (category_name,))
            result = self.cursor.fetchone()
            if result:
                return result[0]
            else:
                print(f"Δεν βρέθηκε κατηγορία με το όνομα '{category_name}'.")
                return None
        else:
            raise ValueError("Μη έγκυρο όνομα πίνακα ή όνομα στήλης.")

    def get_tables(self):
        '''
        Επιστρέφει τα ονόματα των πινάκων της βάσης δεδομένων.
        '''
        self.cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
        self.tables = self.cursor.fetchall()
        list_tables = [table[0] for table in self.tables]
        return list_tables
        

    def showData(self, table, dataframe=False):
        '''
        Επιστρέφει τα δεδομένα της βάσης δεδομένων. Εάν columns=True, τότε επιστρέφει ένα πλαίσιο δεδομένων. Διαφορετικά επιστρέφει ένα λεξικό.
        '''
        self.__enter__()
        parameter = f"SELECT * FROM {table}"
        self.cursor.execute(parameter)
        data = self.cursor.fetchall()
        if not dataframe:
            return data
        else:
            columns = [description[0] for description in self.cursor.description]
            # Use pandas DataFrame for prettifying and easy manipulation of data and column names
            df = pd.DataFrame(data, columns=columns)
            self.__exit__(None, None, None)
            return df



    def initializeTable(self, sql_code, table_name, column1, column2, value1, value2):
        ''' Αρχικοποιοεί τους πίνακες για συχνότητα και τύπο εγγραφής'''
        try:
            self.create_table(sql_code)  # Assuming this is correctly defined to execute the SQL command
            # Proper SQL string format with table and column names inserted directly (vulnerable to SQL injection if variables are not controlled)
            insert_query = f"INSERT INTO {table_name} ({column1}, {column2}) VALUES (?, ?)"
            self.cursor.execute(insert_query, (value1, value2))
            self.conn.commit()  # Commit changes to the database
            print("Η κατηγορία εισήχθη επιτυχώς.")
            
        except sqlite3.IntegrityError as e:
            print("Εμφανίστηκε σφάλμα:", e)


class Income(DatabaseConnection):
    def __init__(self, db_path):
        super().__init__(db_path)
        self.income_id=None
        self.name=None
        self.category_name = None
        self.frequency=None
        self.category=None

    def InsertCategory(self, category_name):
        """
        Εισάγει μια νέα κατηγορία στον πίνακα 'category_table'. 
        Η μέθοδος ζητά από τον χρήστη να καθορίσει εάν η νέα κατηγορία είναι έσοδο (1) ή έξοδο (0), και στη συνέχεια το όνομα της κατηγορίας. 
        Στη συνέχεια, προσπαθεί να εισάγει αυτές τις τιμές στη βάση δεδομένων. Εάν η εισαγωγή είναι επιτυχής, εκτυπώνει μήνυμα επιτυχίας. Σε περίπτωση 
        που εμφανιστεί σφάλμα, εκτυπώνει το σχετικό μήνυμα.
        """
        # ΣΥΝΔΕΣΗ ΣΤΗ ΒΑΣΗ
        self.__enter__()  # Ensure the connection is open

        # ΕΛΕΓΧΟΣ ΤΩΝ ΥΠΑΡΧΟΝΤΩΝ ΚΑΤΗΓΟΡΙΩΝ
        existing_categories = [cat[1] for cat in self.showData('category_table', dataframe=False)]
        if category_name in existing_categories:
            print(f"Η κατηγορία εσόδων που προσπαθείτε να εισάγετε υπάρχει ήδη.")
            self.__exit__(None, None, None)

            return 0

        # ΚΑΤΑΧΩΡΗΣΗ ΝΕΑΣ ΚΑΤΗΓΟΡΙΑΣ
        else:
            insert_query = "INSERT INTO category_table (name, type) VALUES (?, ?)"
            try:
                self.cursor.execute(insert_query, (category_name, 1))  # Correctly using placeholders
                self.conn.commit()  # Commit changes to the database
                print(f"Η κατηγορία {category_name} εισήχθη επιτυχώς.")
                
            except sqlite3.IntegrityError as e:
                print("Εμφανίστηκε σφάλμα:", e)
            finally:
                self.__exit__(None, None, None)  # Close the connection when done



    def InsertIncome(self, income_description, amount, frequency_id, category_id):
        """
        Εισάγει μια νέα εγγραφή στον πίνακα 'records'. Η μέθοδος αρχικά ζητά από τον χρήστη να εισάγει το έσοδο ή το έξοδο 
        βάσει του τύπου της εγγραφής (0 για έξοδο, 1 για έσοδο). Στη συνέχεια, προσπαθεί να εισάγει την εγγραφή με τα δοθέντα 
        στοιχεία στη βάση δεδομένων. Εάν η εισαγωγή είναι επιτυχής, εκτυπώνει μήνυμα επιτυχίας. Σε περίπτωση σφάλματος 
        της βάσης δεδομένων, εκτυπώνει το αντίστοιχο μήνυμα.
        :param categ_id: Το ID της κατηγορίας όπου ανήκει η εγγραφή. Αντιστοιχεί σε μια υπάρχουσα εγγραφή στον πίνακα 'category_table'.
        :param freq_id: Το ID της συχνότητας με την οποία συμβαίνει η εγγραφή (π.χ., μηνιαία, ετήσια). Αντιστοιχεί σε μια υπάρχουσα εγγραφή στον πίνακα 'frequency_table'.
        :param type_id: Ο τύπος της εγγραφής (0 για έξοδο, 1 για έσοδο), καθορίζοντας αν αυτή είναι έσοδο ή έξοδο.
        """
        self.__enter__()  # Βεβαιωθείτε ότι η σύνδεση είναι ανοιχτή
        insert_query = '''INSERT INTO income (date, name, amount, frequency, category) VALUES (?, ?, ?, ?, ?)'''
        try:
            self.cursor.execute(insert_query, (self.date, income_description, amount, frequency_id, category_id))
            self.conn.commit()  # Δέσμευση αλλαγών στη βάση δεδομένων
            print(f"Η εγγραφή {income_description} εισήχθη επιτυχώς.")
        except sqlite3.IntegrityError as e:
            print("Εμφανίστηκε σφάλμα:", e)
        finally:
            self.__exit__(None, None, None)  # Κλείστε τη σύνδεση όταν τελειώσετε
            print("Aποσυνδεθήκατε από τη βάση δεδομένων")

    def UpdateCategory(self):
        pass

    def UpdateRecord(self):
        pass
        
    def DeleteCategory(self):
        pass

    def DeleteRecord(self):
        pass

class Expenses(DatabaseConnection):
    def __init__(self, db_path):
        super().__init__(db_path)

if __name__ == "__main__":
    # Αρχικοποίηση πινάκων - Δημιουργία σταθερών πινα΄κων
    with DatabaseConnection(new_db) as db:
        
        db.initializeTable(freq_sql, 'frequency_table', 'freq_id', 'name', 0, 'μηνιαίο')
        db.initializeTable(freq_sql, 'frequency_table', 'freq_id', 'name', 1, 'ετήσιο')
        db.initializeTable(freq_sql, 'frequency_table', 'freq_id', 'name', 2, 'μοναδιαίο')

        db.initializeTable(type_sql, 'type_table', 'type_id', 'name', 0, 'έξοδο')
        db.initializeTable(type_sql, 'type_table', 'type_id', 'name', 1, 'έσοδο')

        db.create_table(category_sql)
        db.create_table(income_sql)
        db.create_table(expenses_sql)

        tables = db.get_tables()
    print(f"Δημιουργήσατε τους εξής πίνακες: {', '.join(tables)}")
    print(f"Ο πίνακας {tables[0]} έχει τις στήλες")

    # Καταχώρηση βασικών κατηγοριών
    income_list = ["Μισθός", "Ενοίκια", "Πωλήσεις", "Τόκοι τραπεζικών καταθέσεων", "Δικαιώματα πνευματικής ιδιοκτησίας", "Κέρδη από μετοχές", "Αποζημιώσεις", "Συντάξεις", "Παροχές από ασφαλιστικά ταμεία", "Επιδοτήσεις", "Εισοδήματα από freelance εργασίες", "Άλλα έκτακτα έσοδα"]
    dbin = Income(new_db)
    for income in income_list:
        dbin.InsertCategory(income)

Συνδεθήκατε στη βάση δεδομένων.
Η κατηγορία εισήχθη επιτυχώς.
Η κατηγορία εισήχθη επιτυχώς.
Η κατηγορία εισήχθη επιτυχώς.
Η κατηγορία εισήχθη επιτυχώς.
Η κατηγορία εισήχθη επιτυχώς.
Δημιουργήσατε τους εξής πίνακες: frequency_table, type_table, category_table, sqlite_sequence, income, expenses
Ο πίνακας frequency_table έχει τις στήλες
Συνδεθήκατε στη βάση δεδομένων.
Η κατηγορία Μισθός εισήχθη επιτυχώς.
Συνδεθήκατε στη βάση δεδομένων.
Η κατηγορία Ενοίκια εισήχθη επιτυχώς.
Συνδεθήκατε στη βάση δεδομένων.
Η κατηγορία Πωλήσεις εισήχθη επιτυχώς.
Συνδεθήκατε στη βάση δεδομένων.
Η κατηγορία Τόκοι τραπεζικών καταθέσεων εισήχθη επιτυχώς.
Συνδεθήκατε στη βάση δεδομένων.
Η κατηγορία Δικαιώματα πνευματικής ιδιοκτησίας εισήχθη επιτυχώς.
Συνδεθήκατε στη βάση δεδομένων.
Η κατηγορία Κέρδη από μετοχές εισήχθη επιτυχώς.
Συνδεθήκατε στη βάση δεδομένων.
Η κατηγορία Αποζημιώσεις εισήχθη επιτυχώς.
Συνδεθήκατε στη βάση δεδομένων.
Η κατηγορία Συντάξεις εισήχθη επιτυχώς.
Συνδεθήκατε στη βάση δεδομένων.
Η κατηγορία Παροχές από ασφαλιστικά ταμεία εισήχθη επιτυχώς.
Συνδεθήκατε στη βάση δεδομένων.
Η κατηγορία Επιδοτήσεις εισήχθη επιτυχώς.
Συνδεθήκατε στη βάση δεδομένων.
Η κατηγορία Εισοδήματα από freelance εργασίες εισήχθη επιτυχώς.
Συνδεθήκατε στη βάση δεδομένων.
Η κατηγορία Άλλα έκτακτα έσοδα εισήχθη επιτυχώς.

In [4]:
income_examples = [{"date": "2023-04-01", "name": "Μισθός Απριλίου", "category": "Μισθός", "amount": 1200},{"date": "2023-04-03", "name": "Ενοίκιο ακινήτου", "category": "Ενοίκια", "amount": 500},{"date": "2023-04-05", "name": "Πώληση προϊόντων", "category": "Πωλήσεις", "amount": 300},{"date": "2023-04-07", "name": "Τόκοι καταθέσεων", "category": "Τόκοι", "amount": 150},{"date": "2023-04-10", "name": "Δικαιώματα εκδόσεων", "category": "Δικαιώματα", "amount": 200},{"date": "2023-04-12", "name": "Κέρδη από μετοχές", "category": "Μετοχές", "amount": 250},{"date": "2023-04-15", "name": "Αποζημίωση ασφάλισης", "category": "Αποζημιώσεις", "amount": 1000},{"date": "2023-04-18", "name": "Συνταξιοδότηση", "category": "Συντάξεις", "amount": 800},{"date": "2023-04-20", "name": "Παροχές ασφαλιστικού ταμείου", "category": "Παροχές", "amount": 450},{"date": "2023-04-22", "name": "Επιδότηση επιχείρησης", "category": "Επιδοτήσεις", "amount": 600},{"date": "2023-04-25", "name": "Εισόδημα από freelance δουλειά", "category": "Freelance", "amount": 1200},{"date": "2023-04-27", "name": "Έσοδα από διαφημίσεις", "category": "Διαφημίσεις", "amount": 300},{"date": "2023-04-29", "name": "Έσοδα από εκμίσθωση εξοπλισμού", "category": "Εκμισθώσεις", "amount": 700},{"date": "2023-05-01", "name": "Μπόνους επίτευξης στόχων", "category": "Μπόνους", "amount": 500},{"date": "2023-05-03", "name": "Έσοδα από οργάνωση εκδηλώσεων", "category": "Εκδηλώσεις", "amount": 400}]

In [5]:
# Καταχώρηση ψεύτικων εσόδων
for i in income_examples:
    dbin.InsertIncome(i['name'], i['amount'], random.randint(0, 2), return_category_index(i['category'], dbin.showData('category_table', dataframe=False)))

Συνδεθήκατε στη βάση δεδομένων.
Η εγγραφή Μισθός Απριλίου εισήχθη επιτυχώς.
Aποσυνδεθήκατε από τη βάση δεδομένων
Συνδεθήκατε στη βάση δεδομένων.
Η εγγραφή Ενοίκιο ακινήτου εισήχθη επιτυχώς.
Aποσυνδεθήκατε από τη βάση δεδομένων
Συνδεθήκατε στη βάση δεδομένων.
Η εγγραφή Πώληση προϊόντων εισήχθη επιτυχώς.
Aποσυνδεθήκατε από τη βάση δεδομένων
Συνδεθήκατε στη βάση δεδομένων.
Η εγγραφή Τόκοι καταθέσεων εισήχθη επιτυχώς.
Aποσυνδεθήκατε από τη βάση δεδομένων
Συνδεθήκατε στη βάση δεδομένων.
Η εγγραφή Δικαιώματα εκδόσεων εισήχθη επιτυχώς.
Aποσυνδεθήκατε από τη βάση δεδομένων
Συνδεθήκατε στη βάση δεδομένων.
Η εγγραφή Κέρδη από μετοχές εισήχθη επιτυχώς.
Aποσυνδεθήκατε από τη βάση δεδομένων
Συνδεθήκατε στη βάση δεδομένων.
Η εγγραφή Αποζημίωση ασφάλισης εισήχθη επιτυχώς.
Aποσυνδεθήκατε από τη βάση δεδομένων
Συνδεθήκατε στη βάση δεδομένων.
Η εγγραφή Συνταξιοδότηση εισήχθη επιτυχώς.
Aποσυνδεθήκατε από τη βάση δεδομένων
Συνδεθήκατε στη βάση δεδομένων.
Η εγγραφή Παροχές ασφαλιστικού ταμείου εισήχθη επιτυχώς.
Aποσυνδεθήκατε από τη βάση δεδομένων
Συνδεθήκατε στη βάση δεδομένων.
Η εγγραφή Επιδότηση επιχείρησης εισήχθη επιτυχώς.
Aποσυνδεθήκατε από τη βάση δεδομένων
Συνδεθήκατε στη βάση δεδομένων.
Η εγγραφή Εισόδημα από freelance δουλειά εισήχθη επιτυχώς.
Aποσυνδεθήκατε από τη βάση δεδομένων
Συνδεθήκατε στη βάση δεδομένων.
Η εγγραφή Έσοδα από διαφημίσεις εισήχθη επιτυχώς.
Aποσυνδεθήκατε από τη βάση δεδομένων
Συνδεθήκατε στη βάση δεδομένων.
Η εγγραφή Έσοδα από εκμίσθωση εξοπλισμού εισήχθη επιτυχώς.
Aποσυνδεθήκατε από τη βάση δεδομένων
Συνδεθήκατε στη βάση δεδομένων.
Η εγγραφή Μπόνους επίτευξης στόχων εισήχθη επιτυχώς.
Aποσυνδεθήκατε από τη βάση δεδομένων
Συνδεθήκατε στη βάση δεδομένων.
Η εγγραφή Έσοδα από οργάνωση εκδηλώσεων εισήχθη επιτυχώς.
Aποσυνδεθήκατε από τη βάση δεδομένων

In [6]:
dbin.showData('income', dataframe=True)

Συνδεθήκατε στη βάση δεδομένων.

,income_id,date,name,amount,frequency,category
0,1,2024-04-12,Μισθός Απριλίου,1200,2,1
1,2,2024-04-12,Ενοίκιο ακινήτου,500,2,12
2,3,2024-04-12,Πώληση προϊόντων,300,2,12
3,4,2024-04-12,Τόκοι καταθέσεων,150,1,12
4,5,2024-04-12,Δικαιώματα εκδόσεων,200,2,12
5,6,2024-04-12,Κέρδη από μετοχές,250,2,12
6,7,2024-04-12,Αποζημίωση ασφάλισης,1000,0,12
7,8,2024-04-12,Συνταξιοδότηση,800,2,12
8,9,2024-04-12,Παροχές ασφαλιστικού ταμείου,450,0,12
9,10,2024-04-12,Επιδότηση επιχείρησης,600,1,12
10,11,2024-04-12,Εισόδημα από freelance δουλειά,1200,1,12
11,12,2024-04-12,Έσοδα από διαφημίσεις,300,2,12
12,13,2024-04-12,Έσοδα από εκμίσθωση εξοπλισμού,700,2,12
13,14,2024-04-12,Μπόνους επίτευξης στόχων,500,1,12
14,15,2024-04-12,Έσοδα από οργάνωση εκδηλώσεων,400,2,12

In [ ]:
dbin.showData('category_table', dataframe=False)

In [ ]:
return_category_index('Επιδοτήσεις', dbin.showData('category_table', dataframe=False))