In [47]:
import numpy as np
import json
import sqlite3
import pandas as pd

def prettify_data(rows):
    category_dict = {}
    for row in rows:
        # Using 'id' as the key, and storing 'name' and 'type' in a sub-dictionary
        category_dict[row[0]] = {'name': row[1], 'type': row[2]}
    return category_dict
    
type_sql = '''
    CREATE TABLE IF NOT EXISTS type_table (
        type_id INTEGER NOT NULL UNIQUE, 
        name TEXT,
        PRIMARY KEY(name)
    )
    '''
freq_sql = '''
    CREATE TABLE IF NOT EXISTS frequency_table (
            freq_id INTEGER NOT NULL UNIQUE,
            name TEXT,
            PRIMARY KEY(name)
        )
'''

category_sql = '''
    CREATE TABLE IF NOT EXISTS category_table (
        category_id INTEGER NOT NULL UNIQUE,
        name TEXT,
        type INTEGER NOT NULL,
        PRIMARY KEY(category_id AUTOINCREMENT),
        FOREIGN KEY(type) REFERENCES type_table(type_id)
    )
    '''
records_sql = '''
    CREATE TABLE IF NOT EXISTS records (
        records_id INTEGER NOT NULL UNIQUE,
        name TEXT,
        type INTEGER NOT NULL,
        frequency INTEGER NOT NULL,
        category INTEGER NOT NULL,
        PRIMARY KEY(records_id),
        FOREIGN KEY(type) REFERENCES type_table(type_id)
        FOREIGN KEY(frequency) REFERENCES frequency_table(freq_id)
        FOREIGN KEY(category) REFERENCES category_table(category_id)
    )
    '''

commands = [type_sql, freq_sql, category_sql, records_sql]
new_db = "/Users/troboukis/Code/EAP/PLHPRO/final-project/FINANCE-DATABASE/new_db.db"

class DatabaseConnection:
    def __init__(self, db_path):
        self.db_path = db_path
        self.conn = None

    def lock_database(connection):
        cursor = connection.cursor()
        # Start an exclusive transaction
        cursor.execute("BEGIN EXCLUSIVE TRANSACTION;")
        # Σε αυτό το σημείο, η βάση δεδομένων είναι κλειδωμένη για αποκλειστική πρόσβαση έως ότου η συναλλαγή δεσμευτεί ή ανακληθεί.

    def unlock_database(connection, rollback=False):
        # Δεσμεύοντας τη συναλλαγή, ξεκλειδώνοντας τη βάση δεδομένων
        if rollback:
            connection.commit()
        # Εναλλακτικά, για επαναφορά και ξεκλείδωμα χωρίς αποθήκευση των αλλαγών
        else:
        connection.rollback()

    def __enter__(self):
        self.conn = sqlite3.connect(self.db_path)
        self.cursor = self.conn.cursor()
        self.cursor.execute('PRAGMA foreign_keys = ON;')
        print("Συνδεθήκατε στη βάση δεδομένων.")
        return self

    def __exit__(self, exc_type, exc_val, exc_tb):
        unlock_database(self.conn)
        self.conn.close()

    def create_table(self, sql_command):
        self.cursor.execute('PRAGMA foreign_keys = ON;')
        self.cursor.execute(sql_command)
        self.conn.commit()

class showDatabase(DatabaseConnection):
    def __init__(self, db_path):
        super().__init__(db_path)
    
    def get_tables(self):
        '''
        Επιστρέφει τα ονόματα των πινάκων της βάσης δεδομένων.
        '''
        self.cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
        self.tables = self.cursor.fetchall()
        list_tables = [table[0] for table in self.tables]
        return list_tables

    def showData(self, table, dataframe=False):
        '''
        Επιστρέφει τα δεδομένα της βάσης δεδομένων. Εάν columns=True, τότε επιστρέφει ένα πλαίσιο δεδομένων. Διαφορετικά επιστρέφει ένα λεξικό.
        '''
        parameter = f"SELECT * FROM {table}"
        self.cursor.execute(parameter)
        data = self.cursor.fetchall()
        if not dataframe:
            return prettify_data(data)
        else:
            columns = [description[0] for description in self.cursor.description]
            # Use pandas DataFrame for prettifying and easy manipulation of data and column names
            df = pd.DataFrame(data, columns=columns)
            return df

class enterRecords(DatabaseConnection):
    def __init__(self, db_path):
        super().__init__(db_path)

    def insert_type_table(self):
        """
        Εισάγει τύπο εσόδου-εξόδου.
        :param name: Το όνομα της κατηγορίας (συμβολοσειρά).
        :param type_id: 0=έξοδα, 1=έσοδα.
        """
        with self:  # Utilizes the __enter__ and __exit__ methods from DatabaseConnection
            type_id = int(input("Πατήστε '0' εάν η νέα κατηγορία είναι έξοδο και '1' εάν είναι έσοδο. "))
            if type_id==0:
                name = input("Εισάγετε την κατηγορία εσόδου.")
            else:
                name = input("Εισάγετε την κατηγορία εξόδου.")
            insert_query = '''INSERT INTO category_table (name, type) 
                              VALUES (?, ?)'''
            try:
                self.cursor.execute(insert_query, (name, type_id))
                self.conn.commit()  # Commit changes to the database
                print("Η κατηγορία εισήχθη επιτυχώς.")
            except sqlite3.IntegrityError as e:
                print("Εμφανίστηκε σφάλμα:", e)

    def insert_category(self):
        """
        Εισάγει μια νέα κατηγορία στον πίνακα category_table.
        :param name: Το όνομα της κατηγορίας (συμβολοσειρά).
        :param type_id: 0=έξοδα, 1=έσοδα.
        """
        with self:  # Utilizes the __enter__ and __exit__ methods from DatabaseConnection
            type_id = int(input("Πατήστε '0' εάν η νέα κατηγορία είναι έξοδο και '1' εάν είναι έσοδο. "))
            if type_id==0:
                name = input("Εισάγετε την κατηγορία εσόδου.")
            else:
                name = input("Εισάγετε την κατηγορία εξόδου.")
            insert_query = '''INSERT INTO category_table (name, type) 
                              VALUES (?, ?)'''
            try:
                self.cursor.execute(insert_query, (name, type_id))
                self.conn.commit()  # Commit changes to the database
                print("Η κατηγορία εισήχθη επιτυχώς.")
            except sqlite3.IntegrityError as e:
                print("Εμφανίστηκε σφάλμα:", e)

In [48]:
with DatabaseConnection(new_db) as db:
    db.create_table(type_sql)

Συνδεθήκατε στη βάση δεδομένων.

NameError: name 'unlock_database' is not defined

In [41]:
with showDatabase(new_db) as db:
    tables = db.get_tables() 
    data = db.showData(tables[0], dataframe=True)
    print(tables)
    print(data)

Συνδεθήκατε στη βάση δεδομένων.
['category_table', 'type_table', 'frequency_table', 'records']
Empty DataFrame
Columns: [category_id, name, type]
Index: []

In [42]:
with enterRecords(new_db) as er:
    er.insert_category()

Συνδεθήκατε στη βάση δεδομένων.
Συνδεθήκατε στη βάση δεδομένων.

Πατήστε '0' εάν η νέα κατηγορία είναι έξοδο και '1' εάν είναι έσοδο.  0
Εισάγετε την κατηγορία εσόδου. ενοίκιο

Εμφανίστηκε σφάλμα: FOREIGN KEY constraint failed

In [22]:
db.showData('category_table', dataframe=True)

Empty DataFrame
Columns: [category_id, name, type]
Index: []

In [13]:
db.disconnect()

Database disconnected.

In [25]:
for command in commands:
    db.create_table(command)

In [26]:
db.get_tables()

['category_table', 'type_table', 'frequency_table', 'records']

In [27]:
for item in db.get_tables():
    print(f"table: item\ndata: {db.showData(item, columns=True)}\n\n")

table: item
data: Empty DataFrame
Columns: [category_id, name, type]
Index: []


table: item
data: Empty DataFrame
Columns: [type_id, name]
Index: []


table: item
data: Empty DataFrame
Columns: [freq_id, name]
Index: []


table: item
data: Empty DataFrame
Columns: [records_id, name, type, frequency, category]
Index: []

In [ ]:
db.disconnect()

In [ ]:
class Finance():
    def __init__(self, database):
        self.conn = sqlite3.connect(database)
        self.cursor = self.conn.cursor()
    
    def get_tables(self):
        self.cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
        self.tables = self.cursor.fetchall()
        list_tables = [table[0] for table in self.tables]
        return list_tables
    
    def get_data(self, table):
        self.cursor.execute(f"SELECT * FROM {table}")
        rows = self.cursor.fetchall()
        for row in rows:
            if row[1]=='add category':
                print(row)
    
    def update_item(self, table, value_to_update):
        name = input("Δώστε τo όνομα της κατηγορίας που θέλετε να ανανεώσετε.")
        if value_to_update == 'type':
            value = int(input("Πατήστε 0 για να την εντάξετε στα έξοδα ή 1 για για να την εντάξετε στα έσοδα."))
        elif value_to_update=='name':
            value = input("Γράψτε το νέο όνομα της κατηγορίας.")
        parameter = f"UPDATE {table} SET {value_to_update} = ? WHERE name = ?"
        self.cursor.execute(parameter, (value, name))
        self.conn.commit()
    
    def delete_item(self, table):
        name = input("Δώστε τo όνομα της κατηγορίας που θέλετε να διαγράψετε.")
        parameter = f"DELETE FROM {table} WHERE name = ?"
        self.cursor.execute(parameter, (name,))
        self.conn.commit()
    
    def add_item(self, table):
        name = input("Δώστε το όνομα της νέας κατηγορίας")
        value = int(input("Πατήστε 0 εάν η νέα κατηγορία ανήκει στα έξοδα, ή 1 εάν ανήκει στα έσοδα"))
        parameter = f"INSERT INTO {table} (name, type) VALUES (?, ?)"
        self.cursor.execute(parameter, (name, value))
        self.conn.commit()
        
    def show_data(self, table):
        parameter = f"SELECT * FROM {table}"
        self.cursor.execute(f"SELECT * FROM {table}")
        data = self.cursor.fetchall()
        return prettify_data(data)
    
    def close_conn(self):
        self.conn.close()
        
class Graphics(Finance):
    def __init__(self):
        super().__init__(self, database)

In [ ]:
fin = Finance(new_db)

In [ ]:
fin.close_conn()

In [ ]:
pd.DataFrame(fin.show_data('category')).T.reset_index()

In [ ]:
fin.get_tables()

In [ ]:
fin.delete_item('category')

In [ ]:
fin.add_item('category')

In [ ]:
fin.update_item('category', 'name')

In [ ]:
fin